.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #394867;
  text-align: center;
}

h1 {
  margin: 25px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #F1F6F9;
}
h2{
  margin-top: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2.5rem;
  color: #F1F6F9;

}
h3 {
  font-size: 2rem;
  color: #F1F6F9;
  font-family: 'Monteserrat', sans-serif;
}

p {
  font-size: 2rem;
  color: #F1F6F9;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.winner{
  padding-top: 5%;
}

.play {
  color: white;
  background-color: green;
  width: 100px;
  height: 40px;
  border-radius: 15%;
  margin-bottom: 0;
  
}

.reset {
  color: white;
  background-color: red;
  width: 100px;
  height: 40px;
  border-radius: 15%;
  margin-bottom: 0;
  
}
.play-button
{
    margin-top: 3% ;
}

footer {
  margin: 2% 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Monteserrat', cursive;

}
